@import url(../resources/base.css);


section {
    width: 100%;
    text-align: center;
}

img {
    width: 160px;
    height: 160px;
    object-fit: contain;
}

div {
    width: 200px;
    height: 200px;
    background-color: var(--color-background);
    border-radius: 12px;
    position: relative;

}

a {
    position: absolute;
    top: 10%;
    left: 10%;
}

div:hover {
    background-color: var(--color-background-hover);
}


li {
    display: inline-block;
    margin: 16px;
    padding: 1px;
    border-radius: 12px;
    background: var(--gradient-background-90deg);
    -webkit-background-clip: content-box;
    background-clip: border-box;
}

.greeting {
    font-family: var(--font-family-secondary);
    background: var(--gradient-background-90deg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 1.6;
}

.presentation {
    font-family: var(--font-family-secondary);
    font-size: 32px;
    line-height: 1.6;
}

.presentation_secondary {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}