@import url(base.css);

main {
    box-sizing: border-box;
}

section {
    text-align: center;
}

span {
    background: var(--gradient-background-90deg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Work Sans", "Georgia", serif;
    font-size: 100px;
    line-height: 1.6;
}

h1 {
    font-family: var(--font-family-primary);
    font-size: 32px;
    line-height: 1.6;
}

h3 {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 400;
}

li {
    font-family: var(--font-family-primary);
    margin: 10px;
    display: inline-block;
    padding: 16px;
}

a {
    color: #66708e;
}