@import url(base.css);

li {
    margin: 10px;
    display: inline-block;
    padding: 16px;
    font-family: var(--font-family-primary);
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background: var(--gradient-background-90deg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5px;
}

.presentation_section {
    margin-left: 44px;
    max-width: 800px;
    padding: 20px;
}

.greeting {
    font-family: var(--font-family-secondary);
    background: var(--gradient-background-90deg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 1.6;
}

.presentation {
    font-family: var(--font-family-secondary);
    font-size: 32px;
    line-height: 1.6;
}

.presentation_secondary {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 400;
}

.presentation_cta {
    align-items: center;
    margin-top: 20px;
    margin-left: 64px;
}